<div class="divHome1">
    <img src="http://tinyurl.com/lf-suhbg" alt="Home Cover" style="width:100%; height:400px" />
</div>
<div class="subDiv">
    <h3>TITLE </h3>
    LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM.
</div>
<div class="subDiv">
    <h3>TITLE </h3>
    Generic instruction on how these boxes should look.
</div>
<div class="subDiv">
    <h3>TITLE </h3>
    LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM LOREM IPSUM.
</div>